In [ ]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [ ]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)

# reflect the tables

# Get the table names from the database
table_names = engine.table_names()

# View all of the classes that automap found
table_names

In [ ]:
# Save references to each table

# Dynamically create classes for each table using automap_base
for table_name in table_names:
    table_class = Base.classes.get(table_name)
    setattr(Base.classes, table_name, table_class)
    print(table_name)

In [ ]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [78]:
# Find the most recent date in the data set.
most_recent_date = session.query(func.max(Base.classes.measurement.date)).scalar()

most_recent_date

'2017-08-23'

In [ ]:
session.close